html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* header navigation bar */

#back-buttonhead{
    display: flex;
    width: 20%;
    height: 46.5px;
    background-color: #4472c4;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding-bottom: 5px;
    font-size: 40px;
    text-decoration: none;
}

/* end of navigation bar and header */

main{
    background-color: #9dc3e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 66.58px 10vw;
}

#errorpage{
    display: none;
    background-color: #9dc3e6;
    width: 100vw;
    height: 100vh;
    font-size: 100px;
    justify-content: center;
    align-items: center;
}

.error{
    display: none;
}

.title{
    margin: 50px 0;
    text-align: center;
    color: #1f4e79;
    cursor: default;
}

.all-dokter-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dokter-container{
    cursor: default;
    display: flex;
    background-color: #aecad6;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(360deg, #99e0ff 0%, #b5d1ff 74%);   
    border-radius: 50px;
    padding: 20px 8%;
    scale: 0.95;
    transition: ease-in-out 0.5s;
}


.dokter-container:hover{
    scale: 1;
}

#dokter-pp{
    width: 25%;
    border-radius: 50px;
    border: solid 2px #4472c4;
    object-fit: cover;
    object-position: center top;
}

.dokter-about{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    margin-left: 10%;
}

.dokter-about button{
    cursor: pointer;
    color: white;
    border: none;
    font-weight: 700;
    font-size: 1.3vw;
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
    width: fit-content;
    transition: ease-in-out 0.5s;
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    background-size: 300% 100%;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.dokter-about button:hover{
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.dokter-nameetc{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.dokter-nameetc h1{
    font-size: 2vw;
    white-space: nowrap;
}

.dokter-nameetc h3{
    font-size: 1.4vw;
    margin-top: 5px;
    font-weight: 100;
}

.dokter-inform{
    display: flex;
    gap: 40px;
    margin: 20px;
    margin-left: 0;
}

.dokter-inform div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.dokter-jadwal{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
}

.dokter-jadwal h3{
    font-size: 1.5vw;
}

.dokter-jadwal p{
    font-size: 1.2vw;
}

/*form*/

.form-container{
    width: 100%;
    display: none;
    justify-content: center;
}

.formdokter{
    padding: 40px;
    background-color: #ffffff;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.formdokter label{
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    margin-left: 20px;
}

.formdokter select,input{
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    padding: 5px 20px;
    /* border-radius: 20px; */
    border: none;
    border-bottom:2px solid black;
}
.formdokter select:focus,input:focus{
    outline: none;
    border-color: #4472c4;
}

.formdokter select{
    background-color: white;
}

#jenis-kelamin{
    color: gray;
}
#jenis-kelamin option{
    color: black;
}

#jenis-kelamin option:disabled{
    color: gray;
}

.sts-radio{
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
    padding-left: 20px;
}

.sts-radio input{
    width: 20px;
    margin: 0;
}

.sts-radio label{
    margin: 0;
}

.sts-radio div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#poliinput{
    user-select: none;
    cursor: default;
}

#poliinput:focus{
    outline: none;
    border-bottom:2px solid black;
}

#dokterinput{
    color: gray;
}
#dokterinput option{
    color: black;
}

#dokterinput option:disabled{
    color: gray;
}


.jadwal-inputdok{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 10px 10px 10px;
    border-radius: 20px;
    border: 2px solid black;
}

#jadwal-input{
    visibility: hidden;
}

#jadkunj-lab{
    visibility: hidden;
    margin-bottom: 30px;
}

.jadwal-inputdok div{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    align-items: center;

}

.jadwal-inputdok input{
    width: 20px;
    margin: 0;
}

.sub-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#subbutton{
    width: 100px;
    color: white;
    background-color: #4481eb;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
#subbutton:hover{
    background-color: #04befe;
}

#subloading{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #8b8b8b70;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#submit-success,#submit-failed{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #8b8b8b70;
    justify-content: center;
    align-items: center;
}

#submit-success div,#submit-failed div{
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    gap: 20px;
}

#subsucbutton,#subfailbutton{
    padding: 10px 20px;
}

@media (max-width:1020px) {
    .formdokter{
        width: 75%;
    }
}

@media (max-width:710px) {
    .dokter-container{
        flex-direction: column;
    }
    #dokter-pp{
        width: 200px;
    }
    .dokter-about{
        margin: 0;
        align-items: center;
    }
    .dokter-about a{
        font-size: 15px;
    }
    .dokter-nameetc h1{
        margin-top: 20px;
        font-size: 23px;
    }
    .dokter-nameetc h3{
        font-size: 15px;
    }
    .dokter-inform{
        margin: 0;
        margin-bottom: 20px;
    }
    .dokter-about button{
        font-size: 20px;
    }
    .dokter-jadwal{
        margin: 20px 0 0 0;
    }
    .dokter-jadwal h3{
        font-size: 20px;
    }
    .dokter-jadwal p{
        font-size: 17px;
    }

    /*from adjust*/
    .formdokter{
        width: 100%;
    }
    
    .formdokter label{
        margin-bottom: 10px;
    }
    
    .formdokter select,input{
        width: 100%;
    }
    
    #subbutton{
        margin-top: 30px;
    }
    
}
@media (max-width:440px) {
    .title{
        font-size: 25px;
    }
    .dokter-inform{
        gap: 10px;
        justify-content: center;
    }
    .dokter-nameetc h1{
        margin-top: 20px;
        font-size: 17px;
    }
    .dokter-jadwal h3{
        font-size: 14px;
    }
    .dokter-jadwal p{
        font-size: 13px;
    }

    /*form adjust*/
    #formdt{
        border-radius: 5px;
    }

}
/* footer */
footer{
    text-align: center;
    padding: 20px;
    cursor: default;
}